body{
    background-size: cover;
    background-color:aquamarine;
}
.heading{
    width: 100%;
    margin: 0;
    font-size: 20px;
}

canvas{
    background-color: #000000;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #73cfd8;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

image{
 height: 300px;
width: 2%;
float:left
}
h3{
    text-align: center;
    font-style:oblique;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}